<mat-toolbar class="nav" color="primary">
    <span class="app-title">Oblivion GeoGuesser</span>
  </mat-toolbar>

<div class="page">
    @if (view == 'start') {
        <div class="start-screen">
            <h1>Close shut the jaws of oblivion</h1>
            <button (click)="switchToPanoramaView()">Start Game</button>
        </div>
    }

    @if (view == "panorama") {
        <app-panorama [image]="currentPanorama?.imageUrl"></app-panorama>
        <button (click)="toggleView()">Open Map to Guess</button>
    }

    @if (view == "map") {
        <app-map (guessMade)="onGuessMade()" [guessHasBeenMade]="guessHasBeenMade" [oblivionCoordinate]="currentPanorama?.oblivionCoordinate"></app-map>
        <button (click)="toggleView()">Back to World View</button>
    }
        
    @if (guessHasBeenMade && view !== 'start') {
        <button (click)="nextRound()">Next Round</button>
    }
</div>
<router-outlet />