

<div class="page">
    <div class="logo-container">
        <img src="logo3.png" alt="Logo" class="logo">
    </div>

    @if (this.gameService.getCurrentView() == 'start') {
        <div class="start-screen">
            <button (click)="this.gameService.switchToPanoramaView()">Start Game</button>
        </div>
    }

    @if (this.gameService.getCurrentView() == "panorama") {
        <app-panorama></app-panorama>
        <button (click)="this.gameService.toggleView()">Open Map to Guess</button>
    }

    @if (this.gameService.getCurrentView() == "map") {
        <app-map></app-map>
        <button (click)="this.gameService.toggleView()">Back to World View</button>
    }
        
    @if (this.gameService.getGuessHasBeenSubmitted() && this.gameService.getCurrentView() !== 'start') {
        <button (click)="this.gameService.nextRound()">Next Round</button>
    }
</div>

<router-outlet />